.nav {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  width: 100%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  // gap: 8px;
  a {
    text-decoration: none;
    // color: #555;
  }

  // .homeSpan {
  //   cursor: pointer;
  // }
}